body {
  margin: 0;
  padding: 0;
}

.top {
  display: flex;
}

#phaser {
  display: flex;
  /* width: 100%; */
  padding: 0;
  flex-grow: 8;
}

.inventory {
  display: flex;
  flex-grow: 2;
  text-align: center;
  background-color: yellow;
  padding: 0;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

#chat_history {
  height: 200px;
  display: flex;
  flex-flow: column-reverse nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #211510;
  border: 1px solid #504137;
  color: gold;
  width: 100%;
}

.chat-message {
  width: inherit;
  word-wrap: break-word;
  margin-top: 0.25rem;
}

.new-chat-message {
  width: 400px;
  border: 1px solid #504137;
}

.rectangle {
  display: inline-block;
  width: 200px;
  height: 20px;
  background: black;
}
