@font-face {
  font-family: "cinzel-decorative";
  src: url("./fonts/cinzel/CinzelDecorative-Black.ttf") format("woff");
}

body {
  margin: 0;
  padding: 0;
}
.layout {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
}

#phaser {
  display: flex;
  /* width: 100%; */
  padding: 0;
}

.title {
  font-family: "cinzel-decorative";
  font-weight: 700;
  font-size: 72px;
  color: gold;
}

.ui {
  display: flex;
  width: 300px;
  color: white;
  /* text-align: center; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  padding: 0;
  justify-content: space-between;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #252441;
  border-style: solid;
  border-width: 7px;
  border-image: linear-gradient(rgb(192, 115, 137), rgb(140, 27, 61)) 1;
}

#playerName {
  padding-top: 10px;
  margin-bottom: 0px;
}

.playerInfo {
  /* position: relative;
  top: 0;
  left: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: -25px;
}
#otherPlayerName {
  font-size: 12px;
  padding-top: 10px;
  margin-bottom: 10px;
}
#anonymous {
  margin: 0px;
  font-size: 12px;
}
.OtherCharacterInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: -25px;
}
.otherLevelRing {
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 1115px;
}
.otherLevel {
  position: absolute;
  z-index: 2;
  top: 145px;
  left: 1130px;
}
.otherPortrait {
  width: 40px;
  height: 40px;
  position: absolute;
  /* position:fixed;
        z-index:2;
        top:0;
        left:0; */
  border-radius: 50%;
}
.otherBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 50px;
  margin-top: 5px;
  padding: 5px;
  font-size: 12px;
  height: 5%;
}

.playerDetails {
  display: flex;
}

.portrait {
  width: 60px;
  height: 60px;
  position: absolute;
  /* position:fixed;
        z-index:2;
        top:0;
        left:0; */
  border-radius: 50%;
}

.playerImg {
  position: relative;
  margin: 0px;
  margin-left: -40px;
  margin-top: -15px;
}

.playerImg > img {
  position: absolute;
  top: inherit;
  left: inherit;
}
.playerImg > img:first-child {
  z-index: 2;
}

.playerImg > img:nth-child(2) {
  margin: 14px;
}
/* .player {
  display: flex;
  align-items: center;

  margin: 0px 130px;
} */
.levelRing {
  position: absolute;
  z-index: 2;
  top: 35px;
  left: 1100px;
}
.level {
  position: absolute;
  z-index: 2;
  top: 28px;
  left: 1115px;
}

.gold {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  font-size: 12px;
  top: 105px;
  left: 1100px;
}
.hp {
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 1125px;
}
.monsterHp {
  position: absolute;
  z-index: 2;
  top: 182px;
  left: 1110px;
  font-size: 10px;
}
.exp {
  position: absolute;
  z-index: 2;
  top: 85px;
  left: 1125px;
}
.bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 60px;
  margin-top: 15px;
  padding: 5px;
  font-size: 12px;
  height: 5%;
}

.barRatioMp {
  font-size: 9px;
  text-shadow: 0.5px 0.5px #888;
  word-wrap: normal;
  display: flex;
  position: absolute;
  z-index: 2;
  top: 75px;
  left: 1190px;
}
.barRatioEx {
  font-size: 9px;
  text-shadow: 0.5px 0.5px #888;
  word-wrap: normal;
  display: flex;
  position: absolute;
  z-index: 2;
  top: 102px;
  left: 1190px;
}

.monster {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  margin: 5px;
}

.itemList {
  width: 253px;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.item {
  background-color: rgb(14, 14, 14);
  width: 61px;
  height: 61px;
  border-radius: 5px;
}

#logoutButton {
  padding: 10px;
  color: black;
  border-radius: 5px;
  width: 253px;
  margin: 10px;
  padding-left: 10px;
  background-color: #6153da;
}
.buttonDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#characterButton {
  padding: 10px;
  color: black;
  border-radius: 5px;
  width: 253px;
  margin: 10px;
  background-color: rgb(223, 119, 149);
}

#chat_history {
  height: 180px;
  display: flex;
  flex-flow: column-reverse nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #211510;
  border: 1px solid #504137;
  color: gold;
  width: 100%;
}

.chat-message {
  width: inherit;
  word-wrap: break-word;
  margin-top: 0.25rem;
}

.new-chat-message {
  width: 1015px;
  border: 1px solid #504137;
}

.authForm {
  height: 100vh;
  background-image: url("/images/colorfulTreeLandscape.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.selectContainer {
  height: 100vh;
  background-image: url("/images/croppedColorfulTreeLandscape.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.currentScene {
  padding: 20px;
}

.sign-up-emphasize {
  color: #344a95;
}

.sign-up-emphasize:hover {
  color: white;
}